<div class="sideNav close ">
    <ul class="nav-links">
        <li class="firstLi d-none">
            <div class="sideNavSearchContainer d-none">
                <i class="fa fa-search" aria-hidden="true"></i>
                <form>
                    <span class="link-name"><input type="text" name="sideNavSearch" class="sideNavSearch d-none"
                            placeholder="Search User,Text Here..."></span>
                </form>
            </div>
            <ul class="sub-menu blank">
                <a class="link-name" href="./index.html">Search</a>
            </ul>
        </li>

        <li>
            <a href="/home">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span class="link-name">Home</span>
            </a>
            <ul class="sub-menu blank">
                <a class="link-name" href="/home">Home</a>
            </ul>
        </li>
        <li>
            <a href="/upload">
                <i class="icon-upload" aria-hidden="true"></i>
                <span class="link-name">Upload</span>
            </a>
            <ul class="sub-menu blank">
                <a class="link-name" href="/upload">Upload</a>
            </ul>
        </li>
        <li>
            <a href="/chat">
                <i class="fa fa-comments" aria-hidden="true"></i>
                <span class="link-name">Chat</span>
            </a>
            <ul class="sub-menu blank">
                <a class="link-name" href="/chat">Chat</a>
            </ul>
        </li>
        <li class="hoverToggle">
            <div class="icon-link">
                <a href="#">
                    <i class="icon-group" aria-hidden="true"></i>
                    <span class="link-name">Group</span>
                </a>
                <i class="fa fa-chevron-down arrow" aria-hidden="true"></i>
            </div>
            <ul class="sub-menu">
                <a class="link-name sub-menu-heading" href="#">Group</a>
                <a href="/group-myGroups">My Groups</a>
                <a href="/group-discoverGroup">Discover Groups</a>
            </ul>
        </li>
        <li class="hoverToggleTwo">
            <a href="/createGroup">
                <i class="icon-create-grp" aria-hidden="true"></i>
                <span class="link-name">Create Group</span>
            </a>
            <ul class="sub-menu blank">
                <a class="link-name" href="/createGroup">Create Group</a>
            </ul>
        </li>
        <li>
            <a href="/contactUs">
                <i class="icon-contact" aria-hidden="true"></i>
                <span class="link-name">Contact Us</span>
            </a>
            <ul class="sub-menu blank">
                <a class="link-name" href="/contactUs">Contact Us</a>
            </ul>
        </li>
        <li>
            <a href="/aboutUs">
                <i class="icon-about" aria-hidden="true"></i>
                <span class="link-name">About Us</span>
            </a>
            <ul class="sub-menu blank">
                <a class="link-name" href="/aboutUs">About Us</a>
            </ul>
        </li>
        <li>
            <a href="/help">
                <i class="icon-help" aria-hidden="true"></i>
                <span class="link-name">Help</span>
            </a>
            <ul class="sub-menu blank">
                <a class="link-name" href="/help">Help</a>
            </ul>
        </li>
    </ul>
</div>