<nav>
    <div class="navbar">
        <div class="line"></div>
    </div>
    <img src="Images\LOGO.png" alt="Logo">
    <a href="/logout">
        <i class="fa fa-power-off" aria-hidden="true"></i>
    </a>
</nav>