<div class="sideNav">
    <ul>
        <li>
            <a href="/dashboard">
                <i class="icon-dashboard"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a href="/admin-user">
                <i class="icon-user" aria-hidden="true"></i>
                <span>User</span>
            </a>
        </li>
        <li>
            <a href="/admin-group">
                <i class="icon-group" aria-hidden="true"></i>
                <span>Group</span>
            </a>
        </li>
        <li>
            <a href="/admin-feedback-mail">
                <i class="icon-mail"></i>
                <span>Mail</span>
            </a>
        </li>
        <li>
            <a href="/admin-verify">
                <i class="icon-verify" aria-hidden="true"></i>
                <span>Verify</span>
            </a>
        </li>
    </ul>
</div>