<div class="searchBarContainer">
    <form action="/user-search" class="search" method="post">
        <div class="searchDiv">
            <input type="text" placeholder="Seach User" name="searchBar">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
    </form>
</div>