<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="Images/FAV-ICON.png" type="image/x-icon">
    <title>Virtual Study Group - Reset Password</title>
</head>
    <script src="https://kit.fontawesome.com/38f0fc9536.js" crossorigin="anonymous"></script>
    
<link rel="stylesheet" href="css/resetPasswordAuth.css">

<body>
    <nav>
        <img src="images/logoblack.png" alt="#">
    </nav>
    <div class="container">
        <div class="subContainer">
            <form action="/resetPassAuth" method="POST">
                <div class="heading">
                    <h1>RESET PASSWORD</h1>
                </div>
                <div class="inputContainer">
                    <div class="box">
                        <label for="username"><i class="fa fa-user" aria-hidden="true"></i></label>
                        <input type="text" name="userEmail" placeholder="Enter User E-Mail" required value=<%= typeof mail != "undefined" ? mail : "" %>>
                    </div>
                    <div class="code-btn">
                        <input type="submit" name="OTPget" value="OTPget" <% if(typeof getOtpEnable == "undefined"){ %>
                            disabled
                        <%}%>>
                    </div>
                </div>
                <div class="inputContainer lastChild">
                    <div class="box">
                        <label for="password"><i class="fa fa-lock" aria-hidden="true"></i></label>
                        <input type="password" name="otp" maxlength="4" placeholder="Enter Verification Code" <% if(typeof passEnable == "undefined"){ %>
                            disabled
                        <%}%>><br>
                    </div>
                </div>
                <center>
                    <p class="error" style=<%=typeof visible != "undefined" ? visible : "visibility:hidden;" %> > Usermail or Username Not Found </p>
                    <p class="error" style=<%=typeof msg != "undefined" ? msg : "visibility:hidden;" %> > OTP does not match </p>
                </center>
                <div class="btn">
                    <input type="submit" name="Submit" value="Validate" <% if(typeof submitEnable == "undefined"){ %>
                        disabled
                    <%}%>>
                </div>
            </form>
        </div>
    </div>
</body>

</html>