<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Study Group - Help Details</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="CSS/helpDetail.css">

    <link rel="stylesheet" href="icomoon\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="line"></div>
        </div>

        <%- include('partials/profileButton') %>
    </nav>
    <div class="container">
        <%- include('partials/sidenav') %>
        <div class="content">
            <div class="mainContainer">
                <div class="helpContainer" id="changePass">
                    <header>
                        How do I change my Password?
                    </header>
                    <span>
                        <ol>
                            <li>
                                To change your Password, first go to <b>Settings</b>.
                            </li>
                            <li>
                                Then Inside <b>Generel Settings</b> you will get <b>Reset Password</b>.
                            </li>
                            <li>
                                By Clicking the <b>Reset Password</b>, You can change the password.
                            </li>
                        </ol>
                    </span>
                </div>

            </div>
            <div class="mainContainer">
                <div class="helpContainer" id="editPost">
                    <header>
                        How do I Edit my Post?
                    </header>
                    <span>
                        <ol>
                            <li>
                                To Edit your uploaded post, go to <b>Profile</b>.
                            </li>
                            <li>
                                In Profile page, scroll little bit, you will see your uploaded posts.
                            </li>
                            <li>
                                In your uploaded posts, click on <b>Pencil</b> shaped icon.
                            </li>
                            <li>
                                By Clicking that icon you can <b> Edit </b> The post.
                            </li>
                        </ol>
                    </span>
                </div>

            </div>
            <div class="mainContainer">
                <div class="helpContainer" id="addStudyBuddy">
                    <header>
                        How do I Add StudyBuddy?
                    </header>
                    <span>
                        <ol>
                            <li>
                                To add a StudyBuddy, first Search any in Right <b>SearchBar</b>.
                            </li>
                            <li>
                                You will get the Results according to the name you have searched.
                            </li>
                            <li>

                                In Search Results, You will see an icon like this:
                                <b>
                                    <i class="fas fa-user-plus"></i>
                                </b>
                            </li>
                            <li>
                                By Clicking that icon you can <b> Add </b> The StuddyBuddy.
                            </li>
                        </ol>
                    </span>
                </div>

            </div>
            <div class="mainContainer">
                <div class="helpContainer" id="crateGroup">
                    <header>
                        How do I Create Group?
                    </header>
                    <span>
                        <ol>
                            <li>
                                To Crate a group, click on <b>Create Group</b> in Side Menu.
                            </li>
                            <li>
                                Then Provide the neccessary informations and click on <b>Create</b>.
                            </li>
                            <li>

                                By Clicking on it, You can Create a Group.
                            </li>
                            <li>
                                By Clicking that icon you can <b> Add </b> The StuddyBuddy.
                            </li>
                        </ol>
                    </span>
                </div>

            </div>
            <div class="mainContainer">
                <div class="helpContainer" id="joinGroup">
                    <header>
                        How do I Join Group?
                    </header>
                    <span>
                        <ol>
                            <li>
                                To join a Group, you can visit <b>Discover Group</b> tab.
                            </li>
                            <li>
                                In this tab you will see all the available groups.
                            </li>
                            <li>
                                By clicking on <b>Join</b>, You can join a group.
                            </li>

                        </ol>
                    </span>
                </div>
            </div>
            <div class="mainContainer">
                <div class="helpContainer" id="uploadMaterial">
                    <header>
                        How do I Upload Materials?
                    </header>
                    <span>
                        <ol>
                            <li>
                                To upload material, Click on <b>Uplaod</b>.
                            </li>
                            <li>
                                In that page, click on <b>Browse</b> or Drag and Drop the file, which you want to
                                upload.
                            </li>
                            <li>
                                After attaching the file, click on <b>Upload</b> to upload a file.
                            </li>
                        </ol>
                    </span>
                </div>
            </div>
            <div class="mainContainer">
                <div class="helpContainer" id="editProfile">
                    <header>
                        How do I Edit My Profile?
                    </header>
                    <span>
                        <ol>
                            <li>
                                To edit profile, click on <b>Profile</b> on top right side(In Dropdown menu).
                            </li>
                            <li>
                                In that tab, you will see an <b><i class="fas fa-edit pencil"></i> (Edit)</b> icon.
                            </li>
                            <li>
                                By clicking on that icon, you can change the Profile.
                            </li>
                        </ol>
                    </span>
                </div>
            </div>
        </div>
        <div class="searchBarContainer">
            <form action="" class="search">
                <div class="searchDiv">
                    <input type="text" placeholder="Seach User, Text" name="searchBar">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </form>
        </div>
        <script>
            //sidenav - ARROW v
            const arrow = document.querySelector(".arrow");
            arrow.addEventListener("click", (e) => {
                const parent = e.target.parentElement.parentElement;
                console.log(parent);
                parent.classList.toggle("show-menu");
                // arrow.style.transform="rotate(-180deg)";
                arrow.classList.toggle("rotate");
            });

            //Hamburger
            const navbar = document.querySelector(".navbar");
            const sidebar = document.querySelector(".sideNav");
            const sideNavSearch = document.querySelector(".sideNavSearch")
            console.log(sideNavSearch);

            navbar.addEventListener("click", () => {
                navbar.classList.toggle("active");
                sidebar.classList.toggle("close");
                sideNavSearch.classList.toggle("d-none");
            })

            //Profile-arrow v
            const profileArrow = document.querySelector(".profile-arrow");
            const profileMenu = document.querySelector(".profile-container-option");
            console.log(profileMenu);
            profileArrow.addEventListener("click", () => {
                profileMenu.classList.toggle("open");
                profileArrow.classList.toggle("rotate");
            })

        </script>
</body>

</html>