<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Study Group - Settings</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
        integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/settings.css">
    <link rel="stylesheet" href="icomoon\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>

<body>
    <nav>
        <div class="navbar">
            <div class="line"></div>
        </div>

        <%- include('partials/profileButton') %>
        
    </nav>
    <div class="container">

        <%- include('partials/sidenav') %>
        
        <div class="content">
            <div class="mainContainer">
                <header>
                    <h3>

                        Settings
                    </h3>
                </header>
                <div class="frmContainer">
                    <form action="/user-settings" method="post">
                        <div class="profileSetting">
                            <header>
                                <h3>
                                    Profile Settings
                                </h3>
                            </header>
                            <div class="optionContainer">
                                <span>Who can see your Profile information:</span>
                                <div class="privacyContainer">
                                    <span>Privacy: </span>
                                    <div class="radioContainer">
                                        <div class="singleContainer">
                                            <input type="radio" name="privacy" value="public" 
                                            <% if(privacy.privacy == "public"){%>
                                                checked
                                            <%}%>>
                                            <label for="public">Public</label>
                                        </div>
                                        <div class="singleContainer">
                                            <input type="radio" name="privacy" value="private"
                                            <% if(privacy.privacy == "private"){%>
                                                checked
                                            <%}%>>
                                            <label for="Onlyme">Private</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="generalSetting">
                            <header>
                                <h3>
                                    General Settings
                                </h3>
                            </header>
                            <div class="generalSettingSubContainer">
                                <a href="/resetPasswordAuth">
                                    Reset Password
                                </a>
                            </div>
                        </div>
                        <div class="btnSubmit">
                            <button type="submit" value="SaveChanges">Save Changes</button>
                        </div>
                        <!-- <div class="btnSubmit">
                            <input type="submit" value="Save Changes">
                        </div> -->
                    </form>
                </div>
            </div>
        </div>

        <%- include('partials/search') %>
        
        <script>
            //sidenav - ARROW v
            const arrow = document.querySelector(".arrow");
            arrow.addEventListener("click", (e) => {
                const parent = e.target.parentElement.parentElement;
                console.log(parent);
                parent.classList.toggle("show-menu");
                // arrow.style.transform="rotate(-180deg)";
                arrow.classList.toggle("rotate");
            });

            //Hamburger
            const navbar = document.querySelector(".navbar");
            const sidebar = document.querySelector(".sideNav");
            const sideNavSearch = document.querySelector(".sideNavSearch")
            console.log(sideNavSearch);

            navbar.addEventListener("click", () => {
                navbar.classList.toggle("active");
                sidebar.classList.toggle("close");
                sideNavSearch.classList.toggle("d-none");
            })

            //Profile-arrow v
            const profileArrow = document.querySelector(".profile-arrow");
            const profileMenu = document.querySelector(".profile-container-option");
            console.log(profileMenu);
            profileArrow.addEventListener("click", () => {
                profileMenu.classList.toggle("open");
                profileArrow.classList.toggle("rotate");
            })

        </script>
</body>

</html>